<div style="padding: 2px;" class="list-group-item">
  <div class="media-left" style="width: 50px;text-align: center;">
    <div>
      <img class="img-circle" style="height: 40px;" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSxhcCYW4QDWMOjOuUTxOd50KcJvK-rop9qE9zRltSbVS_bO-cfWA"
      />
    </div>
  </div>
  <div class="media-body">
    <div class="row" style="margin-left: 5%;">
      {{user.name}}
    </div>
    <div class="row" style="    font-size: 12px;    margin-left: 5%;color:#8989e2;">
      {{user.username}} &nbsp; | {{user.email}}
    </div>
  </div>

</div>